src/test/resources/de/retest/util/XsdRegressionTest.checkXsd/ActionParameter.approved.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="actionParameter">
      <xsd:sequence/>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="value" type="xsd:string"/>
      <xsd:attribute name="type" type="xsd:string"/>
      <xsd:attribute name="variableName" type="xsd:string"/>
      <xsd:attribute name="attributeClass" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="actionParameter" type="actionParameter"/>
</xsd:schema>
