src/test/resources/de/retest/util/XsdRegressionTest.checkXsd/CapturedSuite.approved.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="persistable" abstract="true"/>
   <xsd:complexType name="capturedSuite">
      <xsd:complexContent>
         <xsd:extension base="persistable">
            <xsd:sequence>
               <xsd:element name="tests" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="capturedSuite" type="capturedSuite"/>
</xsd:schema>
