src/test/resources/de/retest/util/XsdRegressionTest.checkXsd/StateDifference.approved.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="rootElementDifference"/>
   <xsd:complexType name="stateDifference">
      <xsd:sequence>
         <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="differenceId" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="stateDifference" type="stateDifference"/>
</xsd:schema>
